.header
    padding: 33px 0
    .logo 
        font-size: 48px
        line-height: 65px
        color: $black
        font-weight: 800
    .nav
        gap: 70px
        margin-left: auto 
        &__link
            font-size: 24px
            font-weight: 500
            color: #1E1E1E80
            padding: 13px
            line-height: 28px

            &.active,
            &:hover
                color: $black

    .soc 
        gap: 15px
