@import 'normolize'
@import 'elements'
@import 'header'

.hero
    color: $black
    padding: 67px 0 190px
    h1
        font-weight: 600
        font-size: 64px
        line-height: 87px
        margin: 0 0 30px

    .col
        gap: 27px
        max-width: 33%
        &:last-child
            max-width: 67%

        .box 
            width: 31%
