@import 'normolize'
@import 'elements'
@import 'header'
@import 'footer'

.box
    background-color: $white
    padding: 19px
    border-radius: 35px
    width: 318px
    aspect-ratio: 1/1
    &-head
        gap: 10px

    &__heading
        font-weight: 500
        font-size: 24px
        line-height: 32.78px

    &__text
        font-size: 14px
        line-height: 19.12px

    &__big
        font-size: 128px
        line-height: 174.85px
        font-weight: 800
        white-space: nowrap
        i
            font-size: 64px
            font-style: normal
            line-height: 87.42px

    & > *
        &:nth-child(2)
            margin: auto

.hero
    color: $black
    padding: 67px 0 190px
    #score
        width: 500px
        position: absolute
        bottom: 21%
        left: -23%
    h1
        font-weight: 600
        font-size: 64px
        line-height: 87px
        margin: 0 0 30px

    .col
        position: relative
        z-index: 1
        gap: 27px
        max-width: 33%
        &:first-child
            svg
                overflow: visible !important
        &:last-child
            max-width: 67%

        .box
            width: 31%

.cloud
    margin-top: auto
    background-color: $black
    padding: 170px 0
    .container
        max-width: 1500px
    .fx-ac
        gap: 120px
    .col
        width: 70%
        &:last-child
            width: 29%

    p
        font-size: 14px
        line-height: 19.14px
